@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bs-light) !important;
        color: var(--bs-dark);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-dark) !important;
        color: var(--bs-light);
    }
}

* {
    box-sizing: border-box;
}

body {
    min-width: 265px;
    font-size: 100%;
    background-image: url('../images/stripes.png');
}

main {
    background-color: lightcyan;
    margin: 2em;
    padding: 2em;
    border-radius: 3em;
    box-shadow: 0 0 1em;
}

.header {
    display: flex;
}

.header * {
    white-space: nowrap;
}

.headerGrid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: min-content min-content;
}

.headerGrid * {
    margin: 0;
}

h3 {
    text-align: center;
}

h4 {
    margin: 0;
    margin-bottom: 0.5em;
}

.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#optionGrid {
    grid-template-columns: auto auto;
    display: grid;
}

#optionGrid>* {
    margin: 0.5em;
}

#optionGrid>*>label {
    display: block;
}

.grid {
    grid-template-columns: auto min-content;
    display: grid;
}

.logo img {
    width: 64px;
    height: 64px;
    margin: 0.5em;
}

input[name="collapse"],
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.button {
    background-color: beige;
    width: 100%;
    padding: 10px;
    display: block;
    border-left: 0 solid #3dce4a;
    transition: border-left 0.5s;
}

input[type="radio"]:not(:checked)+.button:hover,
input[type="checkbox"]+.button:hover {
    background-color: rgb(230, 230, 212);
    cursor: pointer;
}

input[type="radio"]:not(:checked)+.button:active,
input[type="checkbox"]+.button:active {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
}

input:checked+label.button {
    border-left: 1em solid #3dce4a;
}

input[type="radio"]:checked {
    background-color: rgb(230, 230, 212)
}

#triggerList {
    background: #fff;
    overflow: hidden;
    height: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
    padding-left: 30px;
    padding-right: 30px;
}

input[name="collapse"]:checked~#triggerList {
    height: auto;
}

.helpLabel {
    margin: auto;
    background-color: #3dce4a;
    width: 1.35em;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.helpLabel:hover {
    background-color: palegreen;
}

.helpLabel:active {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
}

.helpWrapper {
    overflow: hidden;
    max-height: 0;
    background-color: aliceblue;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
    transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s, margin-top 0.5s;
    padding-left: 1em;
    padding-right: 1em;
}

.helpWrapper * {
    margin: 0;
}

input[name="helpCheckbox"]:checked~.helpWrapper {
    max-height: 7em;
    padding: 1em;
    margin-top: 0.5em;
}

span>label {
    display: inline;
}