@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bs-light) !important;
        color: var(--bs-dark);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-dark) !important;
        color: var(--bs-light);
    }
}

* {
    box-sizing: border-box;
}

body {
    min-width: 265px;
    padding: 10px;
    font-size: 100%;
}

.header {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 35px;
}

h3 {
    text-align: center;
}

.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#optionGrid {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#optionGrid label {
    display: block;
}

.grid {
    grid-template-columns: auto min-content;
    display: grid;
}

.logo img {
    width: 64px;
    height: 64px;
}

input[name="collapse"] {
    display: none;
}

#collapseLabel {
    background-color: beige;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: block;
}

#collapseLabel:hover {
    background-color: rgb(230, 230, 212);
}

#collapseLabel:active {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;

}

#triggerList {
    background: #fff;
    overflow: hidden;
    height: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
    padding-left: 30px;
    padding-right: 30px;
}

input[name="collapse"]:checked~#triggerList {
    height: auto;
}